@{
    ViewBag.Title = "Request Something";
}
<div ng-controller="RequestCtrl">
    <div>
        <form class="form-horizontal"  method="GET">
            <select name="requestedMethod" ng-model="requestedMethod">
                <option ng-value="get">GET</option>
                <option ng-value="head">HEAD</option>
            </select>
            <label for="url">URL</label><input id="requestedUrl" type="text" name="url" placeholder="URL" ng-model="requestedUrl">
            <button class="btn-default" type="submit" ng-click="doUrlRequest()">Fetch</button>
        </form>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>URL</th>
                    <th>Status Code</th>
                    <th>Method</th>
                    <th>Response Time</th>
                </tr>
            </thead>
                <tr>
                    <td>{{requestedUrl}}</td>
                    <td>{{status}}</td>
                    <td>{{requestedMethod}}</td>
                    <td>{{responseTime}} ms</td>

               </tr>

        </table>
    </div>

</div>